<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Documentación de API REST</title>
</head>
<body>
    
    <%- include('./jcrcdocCliente.ejs') %>
    <%- include('./jcrcdocAlquiler.ejs') %>
    <%- include('./jcrcdocArticulo.ejs') %>
    <%- include('./jcrcdocInteres.ejs') %>
    <%- include('./jcrcdocArticulo.ejs') %>
    <%- include('./jcrcdocAuth.ejs') %>

</body>
</html>